# 생각해볼만한 문제의 답입니다.

In [1]:
for i in range(12):
    print("*" * i)

*
**
***
****
*****
******
*******
********
*********
**********
***********

In [2]:
for i in range(12):
    star = "*"
    blank = " " * i
    print(blank + star)

*
 *
  *
   *
    *
     *
      *
       *
        *
         *
          *
           *

In [3]:
for i in range(12):
    j = 12 - i
    star = "*"
    blank = " " * j
    print(blank + star)

            *
           *
          *
         *
        *
       *
      *
     *
    *
   *
  *
 *

In [4]:
n = 6
for i in range(n):
    j = n - 1 - i
    print(n, i, j)

6 0 5
6 1 4
6 2 3
6 3 2
6 4 1
6 5 0

In [5]:
n = 6
for i in range(n):
    j = n - 1 - i
    if (n / 2) > i:
        print('1번 구역')
    else:
        print('2번 구역')

1번 구역
1번 구역
1번 구역
2번 구역
2번 구역
2번 구역

In [6]:
n = 8
if n % 2 != 0:
    for i in range(n):
        j = n - 1 - i
        if (n / 2) > i:
            print((' ' * i) + "*")
        else:
            print((' ' * j) + "*")
else:
    print('짝수입니다!  다음 기회에...')

짝수입니다!  다음 기회에...

In [7]:
n = 9
for i in range(n):
    j = n -1 - i
    print(n, i, j)

9 0 8
9 1 7
9 2 6
9 3 5
9 4 4
9 5 3
9 6 2
9 7 1
9 8 0

In [8]:
n = 9
for i in range(n):
    j = n -1 - i
    if (n / 2) > i:
        blank_l = ' ' * j
        blank_r = ' ' * ((2 * i) - 1)
        star = '*'
        if i != 0:
            print(blank_l + star + blank_r + star)
        else:
            print(blank_l + star)
    else:
        blank_l = ' ' * i
        blank_r = ' ' * ((2 * j) - 1)
        star = '*'
        if j != 0:
            print(blank_l + star + blank_r + star)
        else:
            print(blank_l + star)

        *
       * *
      *   *
     *     *
    *       *
     *     *
      *   *
       * *
        *

In [9]:
n = 9
for i in range(n):
    j = n - 1 - i
    if (n / 2) > i:
        print(('*' * i))
    else:
        print(('*' * j))

*
**
***
****
***
**
*

In [10]:
n = 9
for i in range(n):
    j = n - i - 1
    if (n / 2) > i:
        blank = ' ' * j
        star = '*' * i
    else:
        blank = ' ' * i
        star = '*' * j
    print(blank + star)

       *
      **
     ***
    ****
     ***
      **
       *

In [22]:
def factorial(n):
    result = 1
    for i in range(n):
        result = result * (i + 1)
    return result
factorial(4)

24

# 리스트

In [23]:
odd = [1, 3, 5, 7, 9]
odd2 = odd + odd
print(odd2)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [24]:
odd3 = odd * 3
print(odd3)

[1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9]

In [25]:
odd3 = odd * 3.5
print(odd3)

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
odd[1:4]

[3, 5, 7]

In [28]:
odd[:4]

[1, 3, 5, 7]

In [30]:
odd[::2]

[1, 5, 9]

In [31]:
odd[1::2]

[3, 7]

In [32]:
odd[::-1]

[9, 7, 5, 3, 1]

# 튜플(tuple)

In [33]:
odd = (1, 3, 5, 7, 9)

In [34]:
odd2 = odd * 2
print(odd2)

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [37]:
odd2 = odd * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [38]:
print(odd[0])
print(odd[1])
print(odd[-1])
print(odd[-2])

1
3
9
7

In [39]:
print(odd[1:4])

(3, 5, 7)

In [40]:
print(odd[::2])

(1, 5, 9)

In [41]:
print(odd[1::2])

(3, 7)

# 딕셔너리

In [42]:
address = {"name" : "Howard", "phone" : "010-1234-1234"}

In [43]:
print(address['name'])

Howard

In [44]:
print(address['height'])

KeyError: 'height'

In [45]:
address['height'] = 180
print(address)

{'name': 'Howard', 'phone': '010-1234-1234', 'height': 180}

In [46]:
address['height'] = 160
print(address)

{'name': 'Howard', 'phone': '010-1234-1234', 'height': 160}

In [47]:
del address['height']
print(address)

{'name': 'Howard', 'phone': '010-1234-1234'}

# 불리언

In [1]:
1 + 2 == 3

True

In [2]:
5 + (1 + 2 == 3)

6

In [3]:
1 + 2 != 3

False

In [4]:
5 * (1 + 2 != 3)

0

# 문자열

In [5]:
message = 'Hello'

In [6]:
message[:]

'Hello'

In [7]:
message[::2]

'Hlo'

In [8]:
"H" in message

True

In [9]:
"h" in message

False

In [10]:
"h" not in message

True

In [11]:
print(message)

Hello

In [13]:
a = len(message)
print(a ** 2)

25

In [14]:
result = message.lower()
print(result)

hello

In [15]:
result = message.upper()
print(result)

HELLO

In [16]:
result = message.find('o')
print(result)

4

In [17]:
result = message.index('o')
print(result)

4

In [19]:
result = message.find('i')
print(result)

-1

In [20]:
result = message.index('i')
print(result)

ValueError: substring not found

In [21]:
if message.find('y') == -1:
    print('없어요..')

없어요..

In [22]:
help(message.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

# 포매팅

In [23]:
sentence = "%s 시 %s 분 %s 초" % (12, 5, 10)
print(sentence)

12 시 5 분 10 초

In [28]:
a = 0.987654321
b = 0.123456789
sentence = 'a 는 {0:10.4f}이고 b 는 {1:.6f}입니다.'.format(a, b)
print(sentence)

a 는     0.9877이고 b 는 0.123457입니다.

# 리스트

In [29]:
odd = [1, 3, 5, 7, 9]

In [30]:
1 in odd

True

In [31]:
2 in odd

False

In [32]:
2 not in odd

True

In [34]:
print(odd)

[1, 3, 5, 7, 9]

In [33]:
odd[3]

7

In [35]:
odd[3] = -1
print(odd)

[1, 3, 5, -1, 9]

In [36]:
del odd[0]
print(odd)

[3, 5, -1, 9]

In [37]:
del odd[1:2]
print(odd)

[3, -1, 9]

In [38]:
odd[0:2] = -1
print(odd)

TypeError: can only assign an iterable

In [39]:
odd[0:2] = [-1, -1]
print(odd)

[-1, -1, 9]

In [40]:
odd.format()

AttributeError: 'list' object has no attribute 'format'

In [41]:
listed_list = ['Hello', 2, [10, 20, 30], {'a' : 10}]
listed_list

['Hello', 2, [10, 20, 30], {'a': 10}]

In [42]:
len(listed_list)

4

In [45]:
listed_list[2]

[10, 20, 30]

In [46]:
listed_list[2][2]

30

In [47]:
inner = listed_list[2]
inner[2]

30

In [50]:
listed_list[3]

{'a': 10}

In [51]:
listed_list[3]['a']

10

# 튜플

In [55]:
tupled = (1, 3, 5, 7, 9)
listed = [1, 3, 5, 7, 9]

In [56]:
listed.append(5)
print(listed)

[1, 3, 5, 7, 9, 5]

In [57]:
tupled.append(5)
print(tupled)

AttributeError: 'tuple' object has no attribute 'append'

In [58]:
tupled[3]

7

In [59]:
tupled[3] = -1

TypeError: 'tuple' object does not support item assignment

In [60]:
del tupled[3]

TypeError: 'tuple' object doesn't support item deletion

# 딕셔너리

In [61]:
address = {'name' : 'Howard', 'phone' : '010-1234-1234'}
print(address)

{'name': 'Howard', 'phone': '010-1234-1234'}

In [62]:
address = {'name' : 'Howard', 'phone' : '010-1234-1234'}
address

{'name': 'Howard', 'phone': '010-1234-1234'}

In [63]:
address.keys()

dict_keys(['name', 'phone'])

In [64]:
address.values()

dict_values(['Howard', '010-1234-1234'])

In [65]:
for k in address.keys():
    print(k)

name
phone

In [66]:
for k in address.values():
    print(k)

Howard
010-1234-1234

In [67]:
for k in address.keys():
    print(address[k])

Howard
010-1234-1234

In [68]:
'name' in address

True

In [69]:
for k in address:
    print(k)

name
phone

In [70]:
'Howard' in address.values()

True

In [72]:
person = {
    'Howard' : {'weight' : [75, 100, 60],
                'height' : 180}
}

In [73]:
person.keys()

dict_keys(['Howard'])

In [74]:
person['Howard']

{'weight': [75, 100, 60], 'height': 180}

In [75]:
person['Howard'].keys()

dict_keys(['weight', 'height'])

In [76]:
person['Howard']['weight']

[75, 100, 60]

In [78]:
person['Howard']['weight'].keys()

AttributeError: 'list' object has no attribute 'keys'

In [79]:
person['Howard']['weight'][0]

75

In [80]:
data = {"results":{"sunrise":"7:27:40 AM","sunset":"5:29:07 PM","solar_noon":"12:28:24 PM","day_length":"10:01:27","civil_twilight_begin":"6:59:47 AM","civil_twilight_end":"5:57:00 PM","nautical_twilight_begin":"6:28:11 AM","nautical_twilight_end":"6:28:37 PM","astronomical_twilight_begin":"5:57:16 AM","astronomical_twilight_end":"6:59:31 PM"},"status":"OK"}

In [81]:
data

{'results': {'sunrise': '7:27:40 AM',
  'sunset': '5:29:07 PM',
  'solar_noon': '12:28:24 PM',
  'day_length': '10:01:27',
  'civil_twilight_begin': '6:59:47 AM',
  'civil_twilight_end': '5:57:00 PM',
  'nautical_twilight_begin': '6:28:11 AM',
  'nautical_twilight_end': '6:28:37 PM',
  'astronomical_twilight_begin': '5:57:16 AM',
  'astronomical_twilight_end': '6:59:31 PM'},
 'status': 'OK'}

In [82]:
data.keys()

dict_keys(['results', 'status'])

In [85]:
data['results'].keys()

dict_keys(['sunrise', 'sunset', 'solar_noon', 'day_length', 'civil_twilight_begin', 'civil_twilight_end', 'nautical_twilight_begin', 'nautical_twilight_end', 'astronomical_twilight_begin', 'astronomical_twilight_end'])

In [86]:
data['results']['day_length']

'10:01:27'

In [88]:
for k in data['results']:
    print(data['results'][k])

7:27:40 AM
5:29:07 PM
12:28:24 PM
10:01:27
6:59:47 AM
5:57:00 PM
6:28:11 AM
6:28:37 PM
5:57:16 AM
6:59:31 PM

In [89]:
for k in data['results'].values():
    print(k)

7:27:40 AM
5:29:07 PM
12:28:24 PM
10:01:27
6:59:47 AM
5:57:00 PM
6:28:11 AM
6:28:37 PM
5:57:16 AM
6:59:31 PM

# 반복문(반복을 제어하는 방법)

In [98]:
taiwan = ['타이난', '지우펀', '타이베이']
for day in taiwan:
    print(day)
    print('아침 냠냠')
    if day == '지우펀':continue
    print('점심 냠냠')
    print('저녁 냠냠')

타이난
아침 냠냠
점심 냠냠
저녁 냠냠
지우펀
아침 냠냠
타이베이
아침 냠냠
점심 냠냠
저녁 냠냠

In [99]:
taiwan = ['타이난', '지우펀', '타이베이']
for day in taiwan:
    print(day)
    print('아침 냠냠')
    if day == '지우펀':break
    print('점심 냠냠')
    print('저녁 냠냠')

타이난
아침 냠냠
점심 냠냠
저녁 냠냠
지우펀
아침 냠냠

In [101]:
import requests
url = 'https://api.sunrise-sunset.org/json?lat=36.7201600&lng=-4.4203400'
data = requests.get(url)
result = data.json()
result

{'results': {'sunrise': '7:27:40 AM',
  'sunset': '5:29:07 PM',
  'solar_noon': '12:28:24 PM',
  'day_length': '10:01:27',
  'civil_twilight_begin': '6:59:47 AM',
  'civil_twilight_end': '5:57:00 PM',
  'nautical_twilight_begin': '6:28:11 AM',
  'nautical_twilight_end': '6:28:37 PM',
  'astronomical_twilight_begin': '5:57:16 AM',
  'astronomical_twilight_end': '6:59:31 PM'},
 'status': 'OK'}

In [102]:
result.keys()

dict_keys(['results', 'status'])

In [103]:
import requests
url = 'https://api.sunrise-sunset.org/json?lat=35.86&lng=127.09'
data = requests.get(url)
result = data.json()
result

{'results': {'sunrise': '10:39:48 PM',
  'sunset': '8:44:41 AM',
  'solar_noon': '3:42:14 AM',
  'day_length': '10:04:53',
  'civil_twilight_begin': '10:12:15 PM',
  'civil_twilight_end': '9:12:14 AM',
  'nautical_twilight_begin': '9:40:59 PM',
  'nautical_twilight_end': '9:43:30 AM',
  'astronomical_twilight_begin': '9:10:23 PM',
  'astronomical_twilight_end': '10:14:06 AM'},
 'status': 'OK'}

# 주중에 생각해볼만한 문제

# sunrise_sunset 예제
## 1. lat 와 lng 자리에 포매팅으로 넣을 수 있게 만들기
## 2. day_length 함수 만들기
#####   lat, lng 두 개를 입력값으로 받아서, 입력받은것을 lat, lng 자리에 넣어줍니다.

In [104]:
'''  lat       lng
서울 35.8615, 127.0964
도쿄 35.6895, 139.69171
'''

'  lat       lng\n서울 35.8615, 127.0964\n도쿄 35.6895, 139.69171\n'

# recipe puppy 예제
## 1. i 와 q 자리에 포매팅으로 넣을 수 있게 만들기
## 2. 반복문으로 메뉴 제목만 화면에 보이기
## 3. 재료, 메뉴명으로 메뉴를 찾는 recipe_finder 함수 만들기 
#####   i, q 두 개를 입력값으로 받아서, 입력받은것을 i, q 자리에 넣어줍니다.

In [ ]:
data = {"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Vegetable-Pasta Oven Omelet","href":"http:\/\/find.myrecipes.com\/recipes\/recipefinder.dyn?action=displayRecipe&recipe_id=520763","ingredients":"tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper","thumbnail":"http:\/\/img.recipepuppy.com\/560556.jpg"},{"title":"Roasted Pepper and Bacon Omelet","href":"http:\/\/www.bigoven.com\/43919-Roasted-Pepper-and-Bacon-Omelet-recipe.html","ingredients":"eggs, salt, black pepper, butter, black pepper, bacon, onions, garlic, roasted red peppers, oregano, black pepper","thumbnail":""},{"title":"\nBroccoli Oven Omelet Recipe\n\n","href":"http:\/\/cookeatshare.com\/recipes\/broccoli-oven-omelet-92851","ingredients":"eggs, broccoli, onions, parmesan cheese, lowfat milk, salt, basil, garlic, tomato, parmesan cheese","thumbnail":""},{"title":"Eggplant Omelet with Coriander and Caraway","href":"http:\/\/www.epicurious.com\/recipes\/food\/views\/Eggplant-Omelet-with-Coriander-and-Caraway-306","ingredients":"caraway seed, coriander, eggplant, eggs, garlic, lemon, olive oil, onions, black pepper, salt","thumbnail":""},{"title":"Eggplant Omelet with Coriander And Caraway","href":"http:\/\/www.bigoven.com\/143831-Eggplant-Omelet-with-Coriander-And-Caraway-recipe.html","ingredients":"eggplant, olive oil, onions, garlic, egg, caraway seed, coriander, salt, black pepper, lemon","thumbnail":""},{"title":"Broccoli and Cheese Omelet","href":"http:\/\/www.bigoven.com\/45151-Broccoli-and-Cheese-Omelet-recipe.html","ingredients":"onions, garlic, chicken broth, cottage cheese, oregano, black pepper, egg substitute, bread, mozzarella cheese, butter","thumbnail":""},{"title":"Chard And Onion Omelet","href":"http:\/\/www.bigoven.com\/149383-Chard-And-Onion-Omelet-recipe.html","ingredients":"olive oil, onions, leaves, garlic, eggs, parsley, basil, thyme, gruyere cheese, parmesan cheese","thumbnail":""},{"title":"Picnic Omelet Squares Recipe","href":"http:\/\/www.cdkitchen.com\/recipes\/recs\/2184\/Picnic-Omelet-Squares99498.shtml","ingredients":"eggs, garlic, parmesan cheese, olive oil, onions, peas, potato, red pepper, salt, tomato, zucchini","thumbnail":""},{"title":"Spanish Omelet","href":"http:\/\/www.cooks.com\/rec\/view\/0,185,153160-249194,00.html","ingredients":"vegetable oil, green pepper, onions, water, milk, eggs, black pepper, mushroom, garlic, salt, chili powder","thumbnail":""},{"title":"Onion and Fresh Herb Omelet with Mixed Greens","href":"http:\/\/find.myrecipes.com\/recipes\/recipefinder.dyn?action=displayRecipe&recipe_id=1622444","ingredients":"egg substitute, milk, parsley, thyme, salt, black pepper, eggs, flour, nonstick cooking spray, onions, garlic, salad greens, salad greens, red wine vinegar, olive oil, goat cheese, almonds","thumbnail":"http:\/\/img.recipepuppy.com\/514820.jpg"}]}

# sunrise_sunset 심화 예제
### 위 시간은 UTC+0 이고 한국은  UTC+9 입니다. 위 시간에 9시간을 더하면 한국에서의 시간이 됩니다.
### 1. UTC+0 시간을 UTC+9 로 바꾸는 함수를 만들어주세요
### 2. 시, 분, 초가 콜론(:) 을 기준으로 구분되어 있습니다. 이를 콜론 대신 시, 분, 초를 넣어서 구현해 주세요.

# 알고리즘 문제

In [ ]:
'''
개구리 점프 문제 -> 정보올림피아드

개구리가 처음엔 한 칸 뛰고 그 이후부터는 앞선 점프의 2 배 거리를 뛴다.
점프시 도착지점을 넘어서리라 예상되면 다시 한 칸으로 뛰는 거리를 줄여 다시 2배씩
점프 거리를 늘려나간다. 원점(0) 부터 시작한 경우 25 위치에 도달하기 위해서는
9번의 점프가 필요한 셈이다.(1+2+4+8 + 1+2+4 + 1+2) x 위치까지 가기 위한 함수 hop(x) 만들기.
'''

In [ ]:
'''
구글 입사시험 알고리즘 문제

함수 f(n)는 1 부터 n 사이에서 1이 나오는 횟수를 구해준다. f(13) = 6, f(1) = 1 이다.
f(n) = n 을 만족하는 첫 번째 양수가 1 이라고 할 때, 2 번째 양수는 얼마인가?
'''