# 제일 큰 글자

##### 가장 작은 글자

# 사칙연산

In [3]:
1 + 1

2

In [4]:
7 - 5

2

In [5]:
7 * 5

35

In [6]:
3 / 2

1.5

In [8]:
2 ** -10

0.0009765625

In [9]:
13 // 5

2

In [10]:
13 % 5

3

# 변수 (창고, 장소)

In [11]:
a = 3
print(a)

3

In [12]:
a = 3
a = a + 3
print(a)

6

# 글자

In [14]:
knowledge = "인생은 짧아요"
wisdom = '파이썬을 사용하세요'

In [15]:
print(knowledge)
print(wisdom)

인생은 짧아요
파이썬을 사용하세요

In [16]:
veritas = "earth's shape is sphere"
lecture = '예로부터 "민심은 천심이라" 하였다.'

In [18]:
book_material = '''
작은따옴표 또는 큰따옴표 3개 사용하기
몇 줄 짜리 아무리 긴 정보도 저장 가능
'''

In [19]:
print(book_material)

작은따옴표 또는 큰따옴표 3개 사용하기
몇 줄 짜리 아무리 긴 정보도 저장 가능

In [20]:
sentence = "Hello World!"
print(sentence)

Hello World!

In [2]:
sent = "Hello World!"
print(sent)

Hello World!

# 목록

In [22]:
menu_1 = '스시'
menu_2 = '라멘'
menu_3 = '스튜'

In [23]:
menu = ['스시', '라멘', '스튜', '초콜릿 부리또', '민트 피자']
print(menu)

['스시', '라멘', '스튜', '초콜릿 부리또', '민트 피자']

##### 순서  - index(인덱스) - index + ing(인덱싱)

In [25]:
print(menu[0])
print(menu[1])
print(menu[-1])
print(menu[-2])

스시
라멘
민트 피자
초콜릿 부리또

##### 슬라이싱(slice + ing)

In [26]:
menu[1:4]

['라멘', '스튜', '초콜릿 부리또']

# 사전

In [6]:
happy_hour = {'점심' : ['스파게티', '짜장면'], '저녁' : '페퍼로니'}
print(happy_hour)

{'점심': ['스파게티', '짜장면'], '저녁': '페퍼로니'}

In [7]:
print(happy_hour['점심'])
print(happy_hour['저녁'])

['스파게티', '짜장면']
페퍼로니

In [3]:
print(happy_hour['스파게티'])

NameError: name 'happy_hour' is not defined

# 참 / 거짓

In [32]:
1 + 2 == 4

False

In [33]:
2 + 2 == 4

True

In [34]:
2 + 2 != 4

False

In [35]:
2 + 1 != 4

True

In [36]:
1 + 2 > 2

True

In [37]:
1 + 2 < 2

False

In [38]:
1 + 2 >= 2

True

In [39]:
1 + 2 <= 2

False

# 조건문 / 제어문 (if 문)

In [41]:
a = 5
if a == 4:print('a 는 4 입니다.')

In [3]:
a = 4
if a == 4:
    print('a 는 4 입니다.')
print('a 는 4 입니다..') ### 들여쓰기 잘맞춰야함 
    print('a 는 4 입니다...')
    print('if문 안의 코드')
print('if문 밖의 코드')

IndentationError: unexpected indent (<ipython-input-3-195f05f31f61>, line 5)

# 함수

In [9]:
def multiply(a, b):
    c = a * b
    return c

result = multiply(3, 4)
print(result)

12

In [34]:
def multiply(a,b)
    c = a * b
    return c

result= multiply(3, 4)
print(result)

SyntaxError: invalid syntax (<ipython-input-34-68db79d88170>, line 1)

In [38]:
sentence='hello world'
for l in sentence
    print(l)

SyntaxError: invalid syntax (<ipython-input-38-929218a66dfd>, line 2)

# 반복문

In [53]:
a = 0
if a != 4:
    print(a)
    print('a 는 4 입니다.')
    print('if문 안의 코드')
    a = a + 1
print(a)

0
a 는 4 입니다.
if문 안의 코드
1

In [55]:
a = 0
while a != 4:
    print(a)
    a = a + 1
print(a)

0
1
2
3
4

# 반복문

In [4]:
basket = ['apple', 'banana', 'chicken', 'pineapple']
print(basket[0])
print(basket[1])
print(basket[2])
print(basket[3])

apple
banana
chicken
pineapple

In [5]:
stuff = basket[0]
print(stuff)
stuff = basket[1]
print(stuff)
stuff = basket[2]
print(stuff)
stuff = basket[3]
print(stuff)

apple
banana
chicken
pineapple

In [2]:
for stuff in basket:
    print(stuff)

NameError: name 'basket' is not defined

In [4]:
## for 변수명, in 묶음... 변수를 가정함 묶음에서 뽑는거임 

 # for i in message 에서 i는 변수명이지, 특정 스펠링이 아님

In [6]:
food={'밥':'숟가락','국':'젓가락','반찬':'포크'}

for 수단 in food
print(수단)

SyntaxError: invalid syntax (<ipython-input-6-3074e15b4ee1>, line 3)

In [7]:
food=['밥'','국','반찬']

for 수단 in food
print(수단)

SyntaxError: invalid syntax (<ipython-input-7-791b31f16fe2>, line 1)

# 숫자형 자료

##### 정수, 실수

In [9]:
print(type(12345))
print(type(12345.0))

<class 'int'>
<class 'float'>

In [10]:
10.5 * 3

31.5

In [11]:
10 / 2

5.0

In [12]:
10 / 3

3.3333333333333335

# 참 / 거짓 (불리언)

In [13]:
10 % 2 == 0

True

In [14]:
10 % 3 == 0

False

In [16]:
10 % 2 == 0 or 10 % 3 == 0 #공약수

True

In [17]:
10 % 2 == 0 and 10 % 3 == 0 # 공배수

False

In [18]:
target = 20
target % 2 == 0 and target % 3 == 0

False

# 변수 작명

In [19]:
5252real = 10

SyntaxError: invalid syntax (<ipython-input-19-a8c066952b9d>, line 1)

In [20]:
if = 10

SyntaxError: invalid syntax (<ipython-input-20-563084b3e606>, line 1)

In [21]:
*^.^* = 10

SyntaxError: invalid syntax (<ipython-input-21-01c6c1ee0c38>, line 1)

# 글자(문자열)

In [22]:
print(type('Hello'))

<class 'str'>

In [23]:
'1' + '2'

'12'

In [24]:
"야옹 " * 3

'야옹 야옹 야옹 '

In [25]:
"야옹 " * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
message = "Hello World"
print(message[0])
print(message[1])
print(message[-1])
print(message[-2])

H
e
d
l

In [27]:
print(message[0:4])

Hell

In [28]:
for l in message:
    print(l)

H
e
l
l
o

W
o
r
l
d

# 포매팅(Format + ing)

In [35]:
day = '13'
sentence = "오늘 날짜는 %d일 입니다." % day
print(sentence)

TypeError: %d format: a number is required, not str

In [40]:
day = 22
sentence = "오늘 날짜는 %f일 입니다." % day
print(sentence)

오늘 날짜는 22.000000일 입니다.

In [39]:
day = 22.67
sentence = "오늘 날짜는 %s일 입니다." % day
print(sentence)

오늘 날짜는 22.67일 입니다.

# a는 함수에 들어가는 값.
##### a의 제곱을 나타내는 power 함수를 만들어 보세요
##### a의 n 승을 나타내는 power2 함수를 만들어 보세요
##### a에 2를 곱하는 x2 함수를 만들어 보세요

In [41]:
def power(a):
    c = a ** 2
    return c
print(power(5))

25

In [42]:
def power2(a, n):
    c = a ** n
    return c
print(power2(5, 10))

9765625

In [45]:
def x2(a):
    c = a * 2
    return c
print(x2(5))

10

In [46]:
gram_price = 2500 / 100
price = 420 * gram_price
print(price)

10500.0

In [47]:
my_gram = 650
gram_price = 2500 / 100
price = gram_price * my_gram
if my_gram > 600:
    price = price * 0.9
print(price)

14625.0

In [48]:
gas_rate = 9.11
road = 150
oil_price = 1342.9
gas_total = road / gas_rate
price_total = gas_total * oil_price
print(price_total)

22111.41602634468

In [53]:
my_time = 502000
minute = 60
hour = minute * 60
day = hour * 24
print(my_time // day)
print((my_time % day) // hour)
print(((my_time % day) % hour) // minute)
print(((my_time % day) % hour) % minute)

5
19
26
40

# 제어문

In [54]:
age = 10
if age < 5:
    print('5세 미만입니다.')

In [55]:
age = 10
if age < 5:
    print('5세 미만입니다.')
else:
    print('어른일지도??')

어른일지도??

In [58]:
age = 20
if age < 5:
    print('5세 미만입니다.')
elif age < 19:
    print('학생일까요?')
else:
    print('어른일지도??')

어른일지도??

In [59]:
age = 20
if age < 5:
    print('5세 미만입니다.')
elif age < 19:
    print('학생일까요?')
elif age < 31:
    print('안 어른')
else:
    print('어른일지도??')

안 어른

In [60]:
age = 20
if age < 5:
    print('5세 미만입니다.')
elif age < 31:
    print('안 어른')
elif age < 19:
    print('학생일까요?')
else:
    print('어른일지도??')

안 어른

# for 문에서 반복 횟수만 중요한 경우?
##### range() 를 이용합니다.

In [62]:
for i in range(5):
    print(i)

0
1
2
3
4

## range 는 0 부터 1씩 증가하는 묶음을 만들어 줍니다.

In [63]:
sample = [0, 1, 2, 3, 4]
for i in sample:
    print(i)

0
1
2
3
4

##### 문자열은 정수와 곱하면 자기 자신을 더해주기 때문에 별의 개수를 조절 가능합니다.

In [64]:
for i in range(5):
    print("*" * i)

*
**
***
****

##### 위 문제는 i 가 0 부터 1 씩 증가하기 때문에 별의 개수도 하나씩 증가하였습니다.

# 생각해 볼 만한 문제
### 아래 모양이 나오게 만들어보세요

In [ ]:
'''
*
**
***
****
*****
******
*******
********
*********
'''

In [ ]:
'''
*
 *
  *
   *
    *
     *
      *
       *
        *
         *
'''

In [ ]:
'''
         *
        *
       *
      *
     *
    *
   * 
  *
 *
*
'''

In [ ]:
'''
*
 *
  *
   *
    *
   *
  *
 *
*
'''

In [ ]:
'''
    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *
'''

In [13]:
162/75

2.16

In [14]:
184/2.16

85.18518518518518

# 저런 덜떨어지 강사 들도 440,000*24 의 가치를 ㅋㅋㅋ 일반인들에게

# 얻어낼 수 있다는걸 보면, 아직도 돈벌길은 많다는 생각이 든다 정말

In [15]:
for i in range(56):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
***************************************************
****************************************************
*****************************************************
******************************************************
*******************************************************

 # 불리언

In [1]:
1+2+3==55

False

In [3]:
5+(1+2==3) ## 이미지 인식에 많이 씀 고양이, 판별 100만개가 True면, 90만개가 False == 평균하면 90%의 확률로, 고양이임.

6

In [5]:
5*(1+2!=3)

0

# 문자열

In [7]:
message='hello'

In [8]:
message[:] ## [시작:끝:간격,스텝] 리스트의 구간, 슬라이싱

'hello'

In [9]:
message[::2]

'hlo'

In [11]:
"h" in message

True

In [12]:
if "h" in message:
    print("쩐다")

쩐다

In [15]:
if "e" in message[::2]:
    print("쩐다")
else:
    print("없네")

없네

In [17]:
if "h" not in message:
    print("쩐다")
else:
    print("없엉")

없엉

In [19]:
"h" not in message

False

In [26]:
for l in message:
    l="아아아","222"
    print(l)

('아아아', '222')
('아아아', '222')
('아아아', '222')
('아아아', '222')
('아아아', '222')

In [28]:
print(message)

hello

In [29]:
len(message) ## 함수의 리턴으로 사용가능함, 몇천만개를 셀러면, len count //

5

In [31]:
a=len(message)
print(a**2)

25

In [34]:
result=message.lower()
print(result)

hello

In [53]:
result=message.upper()
print(result)

HELLO

In [49]:
result=message.find('l') ### find index 의 이미 만약에 없으면 일괄적으로 -1을 뱉음 
print(result)

2

In [48]:
result=message.index('l') 
print(result)

2

In [50]:
result=message.index('y') ### find index 같은 기능이지만ㅇ 에러띄움
print(result)

ValueError: substring not found

In [51]:
result=message.find('y') ### find index 의 이미
print(result)

-1

In [55]:
help(message.find)

Help on built-in function find:

find(...) method of builtins.str instance
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

In [56]:
message2=223

In [57]:
result2=message2.

SyntaxError: invalid syntax (<ipython-input-57-d068c68e325a>, line 1)

# 포매팅 내장함수에 formating 기능이 있음

In [59]:
sentence="%s시 %s분 %s초" %(12,5,10)## #s만 많이씀 빈칸뚫는거임
print(sentence)

12시 5분 10초

In [61]:
help.(format)

SyntaxError: invalid syntax (<ipython-input-61-47801ea6a739>, line 1)

In [63]:
a=0.215145415843
b=0.124541224548

sentence= 'a는, {}이고 b는 {}입니다.'.format(a,b)
print(sentence) ## 여기까지는 별로 다른게 없음

a는, 0.215145415843이고 b는 0.124541224548입니다.

In [65]:
a=0.215145415843
b=0.124541224548

sentence= 'a는, {}이고 b는 {}입니다.'.format(a,b)
print(sentence) ## 여기까지는 별로 다른게 없음  {순서:형식}, 소수점아래 컨트롤 함, 형식에서

a는, 0.215145415843이고 b는 0.124541224548입니다.

In [73]:
a=0.215145415843
b=0.124541224548

sentence= 'a는, {0:.4f}이고 b는 {1:.6f}입니다.'.format(a,b)   #f 반올림 
print(sentence)
###인공지능 학습에 많이 씀 틀만들어서 계속 반복 학습함

a는, 0.2151이고 b는 0.124541입니다.


# 리스트

In [83]:
odd=[1,3,5,7,9]

In [84]:
1 in odd

True

In [85]:
2 in odd

False

In [86]:
2 not in odd

True

In [87]:
odd[3]

7

In [88]:
odd[3]=-1

In [89]:
print(odd)

[1, 3, 5, -1, 9]

In [90]:
# 리스트에 집어 넣는 방법

In [91]:
odd[3]="ㅇ이이이이"

In [92]:
print(odd)

[1, 3, 5, 'ㅇ이이이이', 9]

In [93]:
del odd

In [95]:
odd=[1,3,5,7,9]

In [97]:
del odd[0]

In [99]:
print(odd)

[3, 5, 7, 9]

In [100]:
del odd[::2]

In [101]:
print(odd)

[5, 9]

In [102]:
odd=[1,3,5,7,9]

In [103]:
odd

[1, 3, 5, 7, 9]

In [104]:
odd[0:2]=-1

TypeError: can only assign an iterable

In [106]:
# a, b 두개 맞교환, 기존 언어는 새로운변수 안만듬 , 입력변수를 바꿔서 입력 
# ex 예를 들어 a 입력했다가 b로 바꿔서 입력 함수내에서 변수 순서바꾸기

In [107]:
odd[0:2]=[-1,-8,10]  ## 리스트로 iterable 한 value를 입력하면, 덮어쓰기가됨 변경임

In [108]:
odd

[-1, -8, 10, 5, 7, 9]

In [109]:
odd[3]=22

In [110]:
odd

[-1, -8, 10, 22, 7, 9]

In [111]:
odd.format()

AttributeError: 'list' object has no attribute 'format'

In [120]:
listed_list=['Hello', 2, [10,20,'30'],{'성명': '이기호', '주소':'강서구 가양동','전화번호':'010-3004-0862'}]
listed_list

['Hello',
 2,
 [10, 20, '30'],
 {'성명': '이기호', '주소': '강서구 가양동', '전화번호': '010-3004-0862'}]

In [123]:
len(listed_list)

4

In [124]:
listed_list[2]

[10, 20, '30']

In [128]:
listed_list[2][2][:1]

'3'

In [135]:
inner=listed_list[2]

In [136]:
inner[2]

'30'

# 튜플 두번째 시간....
 ##튜플은 소괄호, 리스트는 대괄호, 같은데 안되는게 많음, 어디다 쓰까 ?

In [137]:
tpl=(1,2,3,4,8,5,7,4,5,1,2)
lst=[1,3,5,7,9,1,2,5,6,4,8,7]

In [144]:
help(list.append)
help(tpl.index)

Help on method_descriptor:

append(self, object, /)
    Append object to the end of the list.

Help on built-in function index:

index(value, start=0, stop=9223372036854775807, /) method of builtins.tuple instance
    Return first index of value.

    Raises ValueError if the value is not present.

In [145]:
lst.append(12345)

In [146]:
print(lst)

[1, 3, 5, 7, 9, 1, 2, 5, 6, 4, 8, 7, 12345]

In [147]:
tpl[5]=2

TypeError: 'tuple' object does not support item assignment

In [148]:
del tpl[2]

TypeError: 'tuple' object doesn't support item deletion

In [149]:
## tuple type is immutable >> why??

In [150]:
address = {'name':'Howard',"phone":'010-3001-4845'}

In [153]:
address 
print(address)

{'name': 'Howard', 'phone': '010-3001-4845'}

In [154]:
print(address)

{'name': 'Howard', 'phone': '010-3001-4845'}

# dictionary

In [158]:
#{key:value} Pair   ## 순서가 없다

In [159]:
help(address.keys)

Help on built-in function keys:

keys(...) method of builtins.dict instance
    D.keys() -> a set-like object providing a view on D's keys

In [162]:
address = {'name':'Howard',"phone":'010-3001-4845'}
for k in address.keys():
    print(k)

name
phone

In [164]:
address = {'name':'Howard',"phone":'010-3001-4845'}
for k in address.values():
    print(k)

Howard
010-3001-4845

In [168]:
k='sex'
for k in address:
    print(k)

name
phone

In [170]:
address = {'name':'Howard',"phone":'010-3001-4845'}
for k in address:
    print(k)

name
phone

In [177]:
person={'Howard':{'weight':[75,90,100],'height':180}} ## dictionary in dictionary in list 가독성이 떨어짐

In [180]:
person={'Howard':{
    'weight':[75,90,100],
    'height':180}
       } ## dictionary in dictionary in list 가독성이 떨어지면 적절한 indent를 줘라

In [181]:
person['Howard']

{'weight': [75, 90, 100], 'height': 180}

In [182]:
person['Howard'].keys()

dict_keys(['weight', 'height'])

In [183]:
person['Howard']['weight']

[75, 90, 100]

In [187]:
person['Howard']['weight'][::2]  
### 한눈에 들어오는거라, 걍 눈으로 찾을 수 있지만 논리적 관계와, 로직대로, 순차적, 직관적으로 붙여서 코딩하면됨

[75, 100]

In [189]:
person['Howard']['weight'].keys()

AttributeError: 'list' object has no attribute 'keys'

In [190]:
data={"results":{"sunrise":"7:27:40 AM","sunset":"5:29:07 PM","solar_noon":"12:28:24 PM","day_length":"10:01:27","civil_twilight_begin":"6:59:47 AM","civil_twilight_end":"5:57:00 PM","nautical_twilight_begin":"6:28:11 AM","nautical_twilight_end":"6:28:37 PM","astronomical_twilight_begin":"5:57:16 AM","astronomical_twilight_end":"6:59:31 PM"},"status":"OK"}

In [211]:
data

{'results': {'sunrise': '7:27:40 AM',
  'sunset': '5:29:07 PM',
  'solar_noon': '12:28:24 PM',
  'day_length': '10:01:27',
  'civil_twilight_begin': '6:59:47 AM',
  'civil_twilight_end': '5:57:00 PM',
  'nautical_twilight_begin': '6:28:11 AM',
  'nautical_twilight_end': '6:28:37 PM',
  'astronomical_twilight_begin': '5:57:16 AM',
  'astronomical_twilight_end': '6:59:31 PM'},
 'status': 'OK'}

In [197]:
data.keys()
data.values()

dict_values([{'sunrise': '7:27:40 AM', 'sunset': '5:29:07 PM', 'solar_noon': '12:28:24 PM', 'day_length': '10:01:27', 'civil_twilight_begin': '6:59:47 AM', 'civil_twilight_end': '5:57:00 PM', 'nautical_twilight_begin': '6:28:11 AM', 'nautical_twilight_end': '6:28:37 PM', 'astronomical_twilight_begin': '5:57:16 AM', 'astronomical_twilight_end': '6:59:31 PM'}, 'OK'])

In [201]:
data.keys()

dict_keys(['results', 'status'])

In [208]:
data['results']['day_length'][0:5]

'10:01'

In [233]:
for 결과키 in data['results']:
    print(data['results'][결과키])

7:27:40 AM
5:29:07 PM
12:28:24 PM
10:01:27
6:59:47 AM
5:57:00 PM
6:28:11 AM
6:28:37 PM
5:57:16 AM
6:59:31 PM

In [231]:
data['results'][k]

'6:59:31 PM'

In [235]:
data['results']

{'sunrise': '7:27:40 AM',
 'sunset': '5:29:07 PM',
 'solar_noon': '12:28:24 PM',
 'day_length': '10:01:27',
 'civil_twilight_begin': '6:59:47 AM',
 'civil_twilight_end': '5:57:00 PM',
 'nautical_twilight_begin': '6:28:11 AM',
 'nautical_twilight_end': '6:28:37 PM',
 'astronomical_twilight_begin': '5:57:16 AM',
 'astronomical_twilight_end': '6:59:31 PM'}

In [236]:
### https://sunrise-sunset.org/api

In [238]:
rcp_ppy={"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Vegetable-Pasta Oven Omelet","href":"http:\/\/find.myrecipes.com\/recipes\/recipefinder.dyn?action=displayRecipe&recipe_id=520763","ingredients":"tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper","thumbnail":"http:\/\/img.recipepuppy.com\/560556.jpg"},{"title":"Roasted Pepper and Bacon Omelet","href":"http:\/\/www.bigoven.com\/43919-Roasted-Pepper-and-Bacon-Omelet-recipe.html","ingredients":"eggs, salt, black pepper, butter, black pepper, bacon, onions, garlic, roasted red peppers, oregano, black pepper","thumbnail":""},{"title":"\nBroccoli Oven Omelet Recipe\n\n","href":"http:\/\/cookeatshare.com\/recipes\/broccoli-oven-omelet-92851","ingredients":"eggs, broccoli, onions, parmesan cheese, lowfat milk, salt, basil, garlic, tomato, parmesan cheese","thumbnail":""},{"title":"Eggplant Omelet with Coriander and Caraway","href":"http:\/\/www.epicurious.com\/recipes\/food\/views\/Eggplant-Omelet-with-Coriander-and-Caraway-306","ingredients":"caraway seed, coriander, eggplant, eggs, garlic, lemon, olive oil, onions, black pepper, salt","thumbnail":""},{"title":"Eggplant Omelet with Coriander And Caraway","href":"http:\/\/www.bigoven.com\/143831-Eggplant-Omelet-with-Coriander-And-Caraway-recipe.html","ingredients":"eggplant, olive oil, onions, garlic, egg, caraway seed, coriander, salt, black pepper, lemon","thumbnail":""},{"title":"Broccoli and Cheese Omelet","href":"http:\/\/www.bigoven.com\/45151-Broccoli-and-Cheese-Omelet-recipe.html","ingredients":"onions, garlic, chicken broth, cottage cheese, oregano, black pepper, egg substitute, bread, mozzarella cheese, butter","thumbnail":""},{"title":"Chard And Onion Omelet","href":"http:\/\/www.bigoven.com\/149383-Chard-And-Onion-Omelet-recipe.html","ingredients":"olive oil, onions, leaves, garlic, eggs, parsley, basil, thyme, gruyere cheese, parmesan cheese","thumbnail":""},{"title":"Picnic Omelet Squares Recipe","href":"http:\/\/www.cdkitchen.com\/recipes\/recs\/2184\/Picnic-Omelet-Squares99498.shtml","ingredients":"eggs, garlic, parmesan cheese, olive oil, onions, peas, potato, red pepper, salt, tomato, zucchini","thumbnail":""},{"title":"Spanish Omelet","href":"http:\/\/www.cooks.com\/rec\/view\/0,185,153160-249194,00.html","ingredients":"vegetable oil, green pepper, onions, water, milk, eggs, black pepper, mushroom, garlic, salt, chili powder","thumbnail":""},{"title":"Onion and Fresh Herb Omelet with Mixed Greens","href":"http:\/\/find.myrecipes.com\/recipes\/recipefinder.dyn?action=displayRecipe&recipe_id=1622444","ingredients":"egg substitute, milk, parsley, thyme, salt, black pepper, eggs, flour, nonstick cooking spray, onions, garlic, salad greens, salad greens, red wine vinegar, olive oil, goat cheese, almonds","thumbnail":"http:\/\/img.recipepuppy.com\/514820.jpg"}]}

In [ ]:
### Recipe pupppy

In [241]:
print(rcp_ppy)

{'title': 'Recipe Puppy', 'version': 0.1, 'href': 'http:\\/\\/www.recipepuppy.com\\/', 'results': [{'title': 'Vegetable-Pasta Oven Omelet', 'href': 'http:\\/\\/find.myrecipes.com\\/recipes\\/recipefinder.dyn?action=displayRecipe&recipe_id=520763', 'ingredients': 'tomato, onions, red pepper, garlic, olive oil, zucchini, cream cheese, vermicelli, eggs, parmesan cheese, milk, italian seasoning, salt, black pepper', 'thumbnail': 'http:\\/\\/img.recipepuppy.com\\/560556.jpg'}, {'title': 'Roasted Pepper and Bacon Omelet', 'href': 'http:\\/\\/www.bigoven.com\\/43919-Roasted-Pepper-and-Bacon-Omelet-recipe.html', 'ingredients': 'eggs, salt, black pepper, butter, black pepper, bacon, onions, garlic, roasted red peppers, oregano, black pepper', 'thumbnail': ''}, {'title': '\nBroccoli Oven Omelet Recipe\n\n', 'href': 'http:\\/\\/cookeatshare.com\\/recipes\\/broccoli-oven-omelet-92851', 'ingredients': 'eggs, broccoli, onions, parmesan cheese, lowfat milk, salt, basil, garlic, tomato, parmesan cheese', 'thumbnail': ''}, {'title': 'Eggplant Omelet with Coriander and Caraway', 'href': 'http:\\/\\/www.epicurious.com\\/recipes\\/food\\/views\\/Eggplant-Omelet-with-Coriander-and-Caraway-306', 'ingredients': 'caraway seed, coriander, eggplant, eggs, garlic, lemon, olive oil, onions, black pepper, salt', 'thumbnail': ''}, {'title': 'Eggplant Omelet with Coriander And Caraway', 'href': 'http:\\/\\/www.bigoven.com\\/143831-Eggplant-Omelet-with-Coriander-And-Caraway-recipe.html', 'ingredients': 'eggplant, olive oil, onions, garlic, egg, caraway seed, coriander, salt, black pepper, lemon', 'thumbnail': ''}, {'title': 'Broccoli and Cheese Omelet', 'href': 'http:\\/\\/www.bigoven.com\\/45151-Broccoli-and-Cheese-Omelet-recipe.html', 'ingredients': 'onions, garlic, chicken broth, cottage cheese, oregano, black pepper, egg substitute, bread, mozzarella cheese, butter', 'thumbnail': ''}, {'title': 'Chard And Onion Omelet', 'href': 'http:\\/\\/www.bigoven.com\\/149383-Chard-And-Onion-Omelet-recipe.html', 'ingredients': 'olive oil, onions, leaves, garlic, eggs, parsley, basil, thyme, gruyere cheese, parmesan cheese', 'thumbnail': ''}, {'title': 'Picnic Omelet Squares Recipe', 'href': 'http:\\/\\/www.cdkitchen.com\\/recipes\\/recs\\/2184\\/Picnic-Omelet-Squares99498.shtml', 'ingredients': 'eggs, garlic, parmesan cheese, olive oil, onions, peas, potato, red pepper, salt, tomato, zucchini', 'thumbnail': ''}, {'title': 'Spanish Omelet', 'href': 'http:\\/\\/www.cooks.com\\/rec\\/view\\/0,185,153160-249194,00.html', 'ingredients': 'vegetable oil, green pepper, onions, water, milk, eggs, black pepper, mushroom, garlic, salt, chili powder', 'thumbnail': ''}, {'title': 'Onion and Fresh Herb Omelet with Mixed Greens', 'href': 'http:\\/\\/find.myrecipes.com\\/recipes\\/recipefinder.dyn?action=displayRecipe&recipe_id=1622444', 'ingredients': 'egg substitute, milk, parsley, thyme, salt, black pepper, eggs, flour, nonstick cooking spray, onions, garlic, salad greens, salad greens, red wine vinegar, olive oil, goat cheese, almonds', 'thumbnail': 'http:\\/\\/img.recipepuppy.com\\/514820.jpg'}]}

# 반복문(반복문을 제어하는 방법) 

 ## pass, continue, break

In [247]:
taiwan=['타이난', '지우펀', '타이페이']
for day in taiwan:
    print(day)
    print('아침냠냠')
    if day=='지우펀':break
    print('점심냠냠')
    print('저녁냠냠')

타이난
아침냠냠
점심냠냠
저녁냠냠
지우펀
아침냠냠

## DFS 
## BFS 
 알고리즘의 형태

In [253]:
import requests
url = 'https://api.sunrise-sunset.org/json?lat=35.86&lng=127.09'
data=requests.get(url)
result=data.json()
result

{'results': {'sunrise': '10:39:48 PM',
  'sunset': '8:44:41 AM',
  'solar_noon': '3:42:14 AM',
  'day_length': '10:04:53',
  'civil_twilight_begin': '10:12:15 PM',
  'civil_twilight_end': '9:12:14 AM',
  'nautical_twilight_begin': '9:40:59 PM',
  'nautical_twilight_end': '9:43:30 AM',
  'astronomical_twilight_begin': '9:10:23 PM',
  'astronomical_twilight_end': '10:14:06 AM'},
 'status': 'OK'}

In [252]:
result.keys()

dict_keys(['results', 'status'])