In [20]:
import pandas as pd

In [21]:
df = pd.DataFrame( {"a" : [4 ,5, 6], "b" : [7, 8, 9], "c" : [10, 11, 12]},    index = [1, 2, 3])

In [22]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [23]:
df.loc[3,'a']

6

In [24]:
df.loc[[1,2],['a','b']]

   a  b
1  4  7
2  5  8

In [25]:
df = pd.DataFrame( [[4, 7, 10], [5, 8, 11], [6, 9, 12]], index=[1, 2, 3], columns=['a', 'b', 'c'])

In [26]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [27]:
df = pd.DataFrame( 
    {"a" : [4 ,5, 6], 
     "b" : [7, 8, 9], 
     "c" : [10, 11, 12]},
    index = pd.MultiIndex.from_tuples( [('d',1),('d',2),('e',2)], names=['n','v'])) 
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [28]:
df[df["a"] !=4]

     a  b   c
n v
d 2  5  8  11
e 2  6  9  12

In [29]:
df.a.isin([5])

n  v
d  1    False
   2     True
e  2    False
Name: a, dtype: bool

In [30]:
pd.isnull